@import "tailwindcss";
@plugin "daisyui";

@theme {
	/* Font */
	--font-sacramento: "Sacramento", cursive;
	--font-work-sans: "Work Sans", sans-serif;
}

body {
	font-size: 1.2rem;
	font-family: "Work Sans", sans-serif;
}

/* Hero */
.hero-section {
	background-image: url(./assets/img/bg.webp);
}

.side-bar li a {
	@apply btn btn-secondary;
}

.home-section {
	background-image: url(./assets/img/bg-pattern.webp);
}

.couple h3 {
	@apply font-sacramento text-pink-400 text-4xl;
}

.couple p {
	@apply text-lg;
}